name: GitHub Snake

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  snake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Snake Game
        uses: Platane/snk@v3.4.0
        with:
          github_user_name: "CodingAbdullah"